html, body {
    height: 100%; /* Asegura que el HTML y body ocupen toda la pantalla */
    margin: 0;
}


/*
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 10; 
}

.swiper-button-prev {
    left: 10px; 
}

.swiper-button-next {
    right: 10px; 
}
*/

.card-body strong {
    font-weight: bold; /* Asegura que el texto esté en negrita */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

/* Encabezados */
h3 {
    text-align: center;
    color: #333;
}

.swiper-slide {
    margin: 10px; /* Espacio entre tarjetas */
}

/* Ajustar la posición de las flechas -------------------------------------------------------------------------------*/

.swiper-button-prev {
    left: 10px; /* Puedes ajustar la distancia desde el borde izquierdo */
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer hover */
}

.card-body {
    text-align: start;
    font-size: 0.85em; /* Reducir el tamaño del texto */
    font-size: 0.9em; /* Ajustar el tamaño de la fuente */
    margin-bottom: 15px;
}
/* Asegúrate de que las tarjetas no tengan bordes adicionales */
.card {
    margin: 10px auto; /* Espacio entre tarjetas y centrado horizontal */
    max-width: 600px; /* Ajusta este valor al tamaño máximo que deseas */
    width: auto; /* Para que la tarjeta se ajuste al contenido */
    box-sizing: border-box; /* Asegura que padding y bordes estén dentro del ancho */
    background-color: rgba(173, 230, 218, 0.8); /* Fondo semi-transparente */
    border: 4px solid #05af8b;
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrar el texto */
    height: auto; /* Ajuste automático al contenido */
    display: flex;
    flex-direction: column; /* Mantener el contenido en columna */
    justify-content: space-between; /* Para que botones queden abajo */
}


/* Encabezados */
.titulo{
    font-size: 2em; /* Tamaño del texto grande para la cabecera */
    font-weight: bold; /* Texto más grueso */
    margin-bottom: 10px; /* Espacio entre la cabecera y el contenido siguiente */
    border-bottom: 3px solid #c7f1c7; /* Borde inferior verde claro */
    padding-bottom: 5px; /* Espacio entre el texto y el borde inferior */
    color: white; /* Color del texto blanco */
    border-radius: 15px; /* Bordes más redondeados */
    margin: 10px auto; /* Margen centrado */
    text-align: center; /* Centra el texto */
    background: linear-gradient(to right, #72c2ae, #859fcf); 
    max-width: 400px; /* Ancho máximo */
    width: 80%; /* Ancho del subtítulo (opcional) */
    padding: 10px; /* Espaciado interno */
}

/* Estilo de los formularios -----------------------------------------------------------------------------------*/

label {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 18px; /* Ajusta este valor para aumentar el tamaño de la fuente */
}

.container {
    padding-bottom: 60px;
}


.btn-adicionar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color:#1dba35;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; /* Aumenta el tamaño de la fuente para hacer el botón más grande */
}

.btn-adicionar:hover {
    background-color: #256f30;
}
.btn-modificar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color:#1dba35;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

.btn-modificar:hover {
    background-color: #256f30;
}


.btn-eliminar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 10px; /* Espaciado entre los botones */
    margin-left: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color: #e3203b; /* Color para el botón de eliminar */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

.btn-eliminar:hover {
    background-color: #a51529;
}

.btn-otro {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 5px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color: #00cccc;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; /* Aumenta el tamaño de la fuente para hacer el botón más grande */
}

.btn-otro:hover {
    background-color: #1b668c;
}

/* Estilo de los iconos -----------------------------------------------------------------------------------------*/

h3 {
    font-size: 35px; /* Tamaño de fuente grande */
    color: #333; /* Color de texto blanco */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
    font-weight: bold; /* Negrita para el texto */

}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 2px solid #4CAF50; /* Borde verde y más grueso */
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f2f2f2; /* Color de fondo claro para las celdas */
}

tr:nth-child(even) {
    background-color: #eaf5ea; /* Color de fondo alternado */
}

.btn-otro {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-otro:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
    margin-bottom: 5px;

}
.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgba(240, 240, 240, 0.5); /* Ajusta el 0.5 para cambiar la transparencia */
}
.form-group span {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgba(240, 240, 240, 0.5); /* Ajusta el 0.5 para cambiar la transparencia */
    height: 45px;
}
@media (max-width: 768px) {
    input[type="text"], input[type="number"], textarea {
        font-size: 0.9em; /* Reduce ligeramente el tamaño del texto */
        padding: 8px; /* Ajusta el espacio interior */
    }
}
.carousel-prev, .carousel-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    border-radius: 50%;
}

/* Asegúrate de que las flechas de navegación también se mantengan centradas */
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 10; 
}

/* Resto de tu CSS se mantiene igual */

.swiper-button-prev {
    left: 10px; /* Ubicación de la flecha izquierda */
}

.swiper-button-next {
    right: 10px; /* Ubicación de la flecha derecha */
}