/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/10/2024, 02:21:08 PM
    Author     : Luis Eraso
*/
.container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.header {
    background-color: #003366;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
}
.form-group span {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    height: 45px;
}
.hidden {
    display: none; /* Cambia max-height por display para ocultarlo por completo */
    transition: all 0.3s ease;
}
