
/* Asegúrate de que el contenedor de tarjetas esté centrado */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten */
    justify-content: center; /* Centra horizontalmente las tarjetas */
    padding: 10px;
}

/* Asegúrate de que el contenedor de tarjetas use flexbox o grid */
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

/* Botones de navegación (flechas) */
.carousel-prev, .carousel-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    border-radius: 50%;
}


.card:hover {
    background-color: #99ccff; /* Color al pasar el cursor */
    transform: translateY(-10px); /* Mueve la tarjeta hacia arriba */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer hover */
}


.card-subtitle {
    font-size: 15px;
    color: #005d03;
    margin-top: 8px;
    text-align: center;
}

.card-subtitle {
    font-size: 15px; /* Ajusta el tamaño de la fuente */
    color: #005d03; /* Puedes personalizar el color */
    margin-top: 8px; /* Ajusta el espacio entre el nombre y el rol */
    text-align: center; /* Centra el subtítulo */
}


.card-body strong {
    font-weight: bold; /* Asegura que el texto esté en negrita */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

/* Encabezados */
h3 {
    text-align: center;
    color: #333;
}



.card:hover {
    background-color: #99ccff; /* Color al pasar el cursor */

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer hover */
}
.card-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.card-body {
    text-align: start;
    font-size: 0.85em; /* Reducir el tamaño del texto */
    font-size: 0.9em; /* Ajustar el tamaño de la fuente */
    margin-bottom: 15px;
}

.card {
    margin: 10px auto; /* Espacio entre tarjetas y centrado horizontal */
    max-width: 600px; /* Ajusta este valor al tamaño máximo que deseas */
    width: auto; /* Para que la tarjeta se ajuste al contenido */
    box-sizing: border-box; /* Asegura que padding y bordes estén dentro del ancho */
    background: linear-gradient(90deg, #80c1ff, #66cca3, #b3e6b3); /* Degradado de fondo */
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrar el texto */
    height: auto; /* Ajuste automático al contenido */
    display: flex;
    flex-direction: column; /* Mantener el contenido en columna */
    justify-content: space-between; /* Para que botones queden abajo */
}


/* Encabezados */
.titulo{
    font-size: 2em; /* Tamaño del texto grande para la cabecera */
    font-weight: bold; /* Texto más grueso */
    margin-bottom: 10px; /* Espacio entre la cabecera y el contenido siguiente */
    border-bottom: 3px solid #c7f1c7; /* Borde inferior verde claro */
    padding-bottom: 5px; /* Espacio entre el texto y el borde inferior */
    color: white; /* Color del texto blanco */
    border-radius: 15px; /* Bordes más redondeados */
    margin: 10px auto; /* Margen centrado */
    text-align: center; /* Centra el texto */
    background: linear-gradient(to right, #4CAF50, #2196F3); /* Gradiente de verde a azul */
    max-width: 400px; /* Ancho máximo */
    width: 80%; /* Ancho del subtítulo (opcional) */
    padding: 10px; /* Espaciado interno */
}

/* Cuerpo de la tarjeta */



/* Botones de navegación (flechas) */

.carousel-prev, .carousel-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    border-radius: 50%;
}

.carousel-prev {
    left: 10px; /* Flecha izquierda */
}

.carousel-next {
    right: 10px; /* Flecha derecha */
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Estilo de los formularios -----------------------------------------------------------------------------------*/

.containerFormulario {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 18px;
    padding: 20px 40px;
    max-width: 1200px;

}

.contenedor-tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* Mantiene las tablas en una sola fila */
    align-items: flex-start; /* Alinea las tablas en la parte superior */
    gap: 10px; /* Espacio entre las tablas */
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 18px; /* Ajusta este valor para aumentar el tamaño de la fuente */
}

.btn-adicionar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color:#1dba35;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; /* Aumenta el tamaño de la fuente para hacer el botón más grande */
}

.btn-adicionar:hover {
    background-color: #256f30;
}
.btn-modificar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color:#1dba35;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

.btn-modificar:hover {
    background-color: #256f30;
}


.btn-eliminar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 10px; /* Espaciado entre los botones */
    margin-left: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color: #e3203b; /* Color para el botón de eliminar */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

.btn-eliminar:hover {
    background-color: #a51529;
}

.btn-otro {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 5px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color: #00cccc;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; /* Aumenta el tamaño de la fuente para hacer el botón más grande */
}

.btn-otro:hover {
    background-color: #1b668c;
}

/* Estilo de los iconos -----------------------------------------------------------------------------------------*/

.header-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    margin-bottom: 20px; /* Espacio entre el header y el resto del contenido */
}

#searchInput {
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 300px; /* Ajusta el ancho como desees */
    margin-right: 10px; /* Espacio entre el input y el icono */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.search-container input {
    width: 300px; /* Ancho fijo para el input del buscador */
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-icon {
    width: 25px; /* Ajusta el tamaño del icono */
    height: 25px;
    box-shadow: none;/* Ajusta el tamaño del icono */
    margin-left: 10px; /* Deja espacio entre el input y el icono */
    cursor: pointer;
}

.stars {
    color: gold;
    font-size: 18px; /* Tamaño de las estrellas */
    vertical-align: middle;
}

.rol-administrador {
    font-size: 20px; /* Tamaño de fuente para el subtítulo */
    color: white; /* Color de texto blanco */

    padding: 10px; /* Espaciado interno */
    border-radius: 30px; /* Bordes redondeados */
    margin: 10px auto; /* Margen superior e inferior, centrado horizontalmente */
    text-align: center; /* Centra el texto */
    background: linear-gradient(to right, #4CAF50, #2196F3); /* Gradiente de verde apagado a azul apagado */
    max-width: 300px; /* Ancho máximo del subtítulo */
    width: 80%; /* Ancho del subtítulo (opcional) */
}

h3 {
    font-size: 35px; /* Tamaño de fuente grande */
    color: #333; /* Color de texto blanco */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
    font-weight: bold; /* Negrita para el texto */

}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 2px solid #4CAF50; /* Borde verde y más grueso */
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f2f2f2; /* Color de fondo claro para las celdas */
}

tr:nth-child(even) {
    background-color: #eaf5ea; /* Color de fondo alternado */
}

.btn-otro {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-otro:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000; /* Color de las flechas de navegación */
}

/* Estilo de la paginación */
.swiper-pagination-bullet-active {
    background-color: #000; /* Color del indicador activo */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.form-group textarea {
    padding: 12px;
    border: 2px solid #f2f2f2;
    border-radius: 8px;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    color: #333;
    resize: vertical; /* Permite solo cambiar el tamaño vertical */
    background-color: #99ccff;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.form-group input {
    padding: 12px;
    border: 2px solid #f2f2f2;
    border-radius: 8px;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    color: #333;
    resize: vertical; /* Permite solo cambiar el tamaño vertical */
    background-color: #99ccff;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group textarea:focus {
    border-color: #f2f2f2;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
    outline: none;
}
.form-group input:focus {
    border-color: #007bff;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
    outline: none;
}