body {
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}
.dark-background {
    position: relative;
    display: flex;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la vista */
    padding: 0;
    background: url(../presentacion/imagenes/inicio1.jpg) no-repeat center center;
    background-size: cover; /* Ajusta la imagen al contenedor */
    background-attachment: fixed;
    margin-top: 0;
    border-radius: 0;
}

.dark-background::after {
    content: ''; /* Necesario para que el pseudo-elemento se muestre */
    position: absolute; /* Posiciona el pseudo-elemento sobre la imagen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Superposición oscura */
    z-index: 1; /* Asegúrate de que esté por encima de la imagen de fondo */
}

.texto-superpuesto {
    position: absolute; /* Cambia a absoluto para el posicionamiento */
    top: 50%; /* Centra verticalmente */
    left: 10%; /* Alinea a la izquierda */
    transform: translateY(-50%) scale(0.8); /* Comienza más pequeño y centrado verticalmente */
    z-index: 2; /* Asegúrate de que el texto esté por encima de la superposición oscura */
    text-align: left; /* Alinea el texto a la izquierda */
    opacity: 0; /* Inicialmente invisible */
    transition: transform 0.8s ease, opacity 0.8s ease; /* Transición suave */
}

.texto-superpuesto.visible {
    transform: translateY(-50%) scale(1); /* Mantiene la posición centrada y tamaño normal */
    opacity: 1; /* Hace visible el texto */
}



.texto-superpuesto h1 {
    font-size: 4em;
    font-weight: bolder; /* Aumenta el grosor de la fuente */
    color: #fff;
}

.texto-superpuesto h2 {
    font-size: 2.5em;
    font-weight: bold; /* Aumenta el grosor de la fuente */
    color: #fff;
    margin-top: 0;
}

.texto-superpuesto p {
    font-size: 1.5em;
    font-weight: 600; /* Aumenta el grosor de la fuente */
    color: #fff;
    margin-top: 10px;
}

.btn-adicionar {
    display: inline-block; 
    margin-right: 20px; 
    padding: 15px 28px; 
    background-color:#3eb847;
    color: white;
    border: none;
    border-radius: 24px; 
    cursor: pointer;
    font-size: 1.1em; 
    margin-top: 10px;
    transition-duration: 0.5s;
}

.btn-adicionar:hover {
   background-color: white;
   color: #3eb847;
   border: 2px solid #3eb847;
}

.huella-icono {
    width: 20px; /* Ajusta el tamaño de la huella según sea necesario */
    height: 20px; /* Mantiene la proporción de la imagen */
    margin-left: 8px; /* Espacio entre el texto y la imagen */
}