/* 
    Created on : 10 oct 2024, 2:14:30
    Author     : Angie
*/

.formulario-adopcion {
    backdrop-filter: blur(10px);
    background-color: rgba(173, 230, 218, 0.8); /* Fondo semi-transparente */
    border: 4px solid #05af8b;
    padding: 20px;
    border-radius: 10px;
    max-width: 1050px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15);
}

textarea {
    background-color: #d4f1f9;
    border: 1px solid #ccc; 
    padding: 8px; 
    border-radius: 18px; 
    color: black; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 1em; 
    background-color: #d4f1f9; 
    width: 80%;
}

textarea:focus {
    background-color: #d8f2d2; 
    border-color: #66afe9; 
    outline: none; 
}

input[type="number"], 
input[type="radio"],  
input[type="time"] {
    background-color: #d4f1f9;
    border: 1px solid #ccc; 
    padding: 8px; 
    border-radius: 18px;
    color: black; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 1em; 
    background-color: #d4f1f9;  
    width: 30%;
}

input[type="file"] {
    background-color: #d4f1f9;
    border: 1px solid #ccc; 
    padding: 8px; 
    border-radius: 18px;
    color: black; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 1em; 
    background-color: #d4f1f9;  
    width: 40%;
}

input[type="number"]:focus {
    background-color: #d8f2d2; 
    border-color: #66afe9; 
    outline: none; 
}

.custom-text-input {
    background-color: #d4f1f9;/* Cambia este color según tu preferencia */
    border: 1px solid #ccc; /* Borde suave */
    padding: 8px; /* Ajusta el espacio dentro de los campos */
    border-radius: 18px; /* Bordes redondeados */
    color: black; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-size: 1em; /* Tamaño de fuente */ 
    background-color: #d4f1f9; /* Color de fondo blanco */ 
    width: 30%;
}

/* Estilo en foco (cuando el usuario hace clic en el campo) */
.custom-text-input:focus {
    background-color: #d8f2d2; /* Color al hacer foco */
    border-color: #66afe9; /* Borde al hacer foco */
    outline: none;
}

.custom-text-input2 {
    background-color: #d4f1f9;/* Cambia este color según tu preferencia */
    border: 1px solid #ccc; /* Borde suave */
    padding: 8px; /* Ajusta el espacio dentro de los campos */
    border-radius: 18px; /* Bordes redondeados */
    color: black; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-size: 1em; /* Tamaño de fuente */ 
    background-color: #d4f1f9; /* Color de fondo blanco */ 
    width: 100%;  
}

/* Estilo en foco (cuando el usuario hace clic en el campo) */
.custom-text-input2:focus {
    background-color: #d8f2d2; /* Color al hacer foco */
    border-color: #66afe9; /* Borde al hacer foco */
    outline: none;
}

/* Estilo de los formularios -----------------------------------------------------------------------------------*/

.containerFormulario {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 18px;
    padding: 20px 40px;
    max-width: 1200px;

}

.contenedor-tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* Mantiene las tablas en una sola fila */
    align-items: flex-start; /* Alinea las tablas en la parte superior */
    gap: 10px; /* Espacio entre las tablas */
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #069979;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

h2 {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

h3 {
    font-size: 35px;
    color: #333;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

h4 {
    font-size: 25px;
    color: #333;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.tableDatos {
    flex: 1;
    margin: 10px auto; /* Asegura que esté centrado */
    padding: 15px; /* Ajusta el padding para reducir el espacio interno */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    max-width: 490px; /* Reduce el ancho máximo del recuadro */
    width: 100%; /* Asegura que se ajuste al contenedor */
    background-color: white; /* Color de fondo */
}

label {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px; 
}

.container {
    padding-bottom: 60px;
}

.tableFormulario td, .tableFormulario th {
    padding: 8px;
}

.tableDatos td, .tableDatos th {
    padding: 5px;
}

fieldset {
    border: none;
    margin-top: 15px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

input[type="radio"] {
    display: none; /* Oculta el radio button original */
}

input[type="radio"] + label {
    position: relative;
    padding-left: 30px; /* Espacio para el nuevo círculo */
    cursor: pointer;
}

input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #05af8b; /* Color del borde del círculo */
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:checked + label:before {
    background-color: #05af8b; /* Color de fondo cuando está seleccionado */
    border-color: #05af8b;
}

/* Estilos personalizados para checkboxes */
input[type="checkbox"] {
    display: none; /* Oculta el checkbox original */
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px; /* Espacio para el nuevo cuadrado */
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #05af8b; /* Color del borde del checkbox */
    border-radius: 4px; /* Bordes ligeramente redondeados */
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked + label:before {
    background-color: #05af8b; /* Color de fondo cuando está seleccionado */
    border-color: #05af8b;
}

input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg); /* Rota el símbolo de check */
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0; /* Crea el símbolo de check */
}

.datos-con-foto {
    display: flex;
    justify-content: space-between; /* Coloca los elementos separados horizontalmente */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.datos {
    flex: 1;
    margin-right: 10px; /* Espacio entre los campos y la imagen */
}

.foto {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra la imagen horizontalmente */
}

.fotoPreview {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #4cb38b
;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* Ajustes adicionales para mejorar la apariencia en dispositivos móviles */
@media (max-width: 768px) {
    input[type="text"], input[type="number"], textarea {
        font-size: 0.9em; /* Reduce ligeramente el tamaño del texto */
        padding: 8px; /* Ajusta el espacio interior */
    }
}

/* Estilo de la calificación en estrellas */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
        font-size: 4em;
        color: gray;
        cursor: pointer;
        margin: 0 5px; /* Ajusta la separación entre las estrellas */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra a las estrellas */
    }

.rating input:checked ~ label {
    color: #FFD700;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #FFD700;
}

.fecha-contenedor {
    font-size: 1.4em;         
    color: #333;               
    font-weight: bold;      
    text-align: center;        
}

.swiper-container {
    width: 100%; 
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 20px;
    max-width: 100%;
    margin: 0 auto; 
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}


.btn-container {
    display: ruby;
    margin: auto;
    text-align: center; 
    margin-bottom: 10px; 
}

.btn-adicionar2 {
    display: inline-block; 
    margin-right: 20px; 
    padding: 10px 20px;
    background-color:#3eb847;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; 
    margin-top: 10px;
    transition-duration: 0.5s;
}

.btn-adicionar2:hover {
   background-color: white;
   color: #3eb847;
   border: 2px solid #3eb847;
}

.btn-eliminar2 {
    display: inline-block; 
    margin-right: 10px; 
    margin-left: 20px; 
    padding: 10px 20px;
    background-color: #e3203b; 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition-duration: 0.5s;
}

.btn-eliminar2:hover {
   background-color: white;
   color: #e3203b;
   border: 2px solid #e3203b;
}

.pregunta-container {
    display: flex;
    justify-content: center; /* Centra el contenedor principal horizontalmente */
    align-items: center; /* Centra verticalmente si el contenido ocupa varias líneas */
    margin-bottom: 15px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}
.pregunta-container-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.opciones-SiNo-p {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.opciones-estado-civil {
    display: flex;
    gap: 15px; 
    align-items: center;
}

.opciones-SiNo {
    display: flex;
    gap: 15px; 
    align-items: center;
}
.referencias-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.referencias{
    flex: 1;
}

.referencias label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.referencias input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #d4f1f9;
}

.divisor {
    height: 4px;
    background-color: #069979; 
    margin: 30px 0; 
    width: 100%; 
    border-radius: 15px;
}

.custom-alert {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .alert-content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        width: 90%;
        max-width: 400px;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .alert-content p {
        margin-bottom: 10px;
    }

    .alert-content button {
        background-color: #3271e7;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .alert-content button:hover {
        background-color: #255bb5;
    }
 