body {
    font-family: 'Open Sans';
    text-align: center;
}

.contenedor-imagen {
    position: relative;
    text-align: center; 
    color: white;
    margin-bottom: 20px;
}

.contenedor-imagen img {
    width: 90%;
    height: auto;
    object-fit: cover;
    filter: brightness(70%); 
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-100%, -50%) scale(0.8); /* Comienza fuera de la vista a la izquierda y más pequeño */
    text-align: left;
    opacity: 0; /* Inicialmente invisible */
    transition: transform 0.8s ease, opacity 0.8s ease; /* Transición suave */
}

.texto-superpuesto.visible {
    transform: translate(0, -50%) scale(1); /* Mueve el texto a su posición y tamaño original */
    opacity: 1; /* Hace visible el texto */
}


.texto-superpuesto h1 {
    font-size: 4em;
    font-weight: bolder; /* Aumenta el grosor de la fuente */
    color: #fff;
}

.texto-superpuesto h2 {
    font-size: 2.5em;
    font-weight: bold; /* Aumenta el grosor de la fuente */
    color: #fff;
    margin-top: 0;
}

.texto-superpuesto p {
    font-size: 1.5em;
    font-weight: 600; /* Aumenta el grosor de la fuente */
    color: #fff;
    margin-top: 10px;
}

.btn-adicionar {
    display: inline-block; 
    margin-right: 20px; 
    padding: 15px 28px; 
    background-color:#3eb847;
    color: white;
    border: none;
    border-radius: 24px; 
    cursor: pointer;
    font-size: 1.1em; 
    margin-top: 10px;
    transition-duration: 0.5s;
}

.btn-adicionar:hover {
   background-color: white;
   color: #3eb847;
   border: 2px solid #3eb847;
}

.huella-icono {
    width: 20px; /* Ajusta el tamaño de la huella según sea necesario */
    height: 20px; /* Mantiene la proporción de la imagen */
    margin-left: 8px; /* Espacio entre el texto y la imagen */
}