/* Estilo para los campos de entrada */
input[type="text"], input[type="date"], input[type="file"], select, input[type="password"], input[type="radio"] {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco transparente */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px; /* Espacio interno */
    font-size: 0.9em; /* Tamaño de fuente */
    width: calc(100% - 10px); /* Ancho del campo */
}

/* Estilo para las etiquetas */
label {
    margin-right: 15px; /* Espacio entre las opciones de género */
}

/* Alineación de los campos */
td {
    vertical-align: middle; /* Alinear verticalmente los elementos */
}

/* Contenedor de botones */
.btn-container {
    display: flex; /* Flexbox para alinear los botones */
    justify-content: center; /* Centrar los botones en el contenedor */
    margin-top: 20px; /* Espacio superior */
    gap: 15px; /* Espacio entre los botones */
}

/* Estilo para los botones */
.btn-adicionar, .btn-eliminar {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1em;
    color: white;
}

.btn-adicionar {
    background-color: #40c328; /* Color del botón adicionar */
}

.btn-adicionar:hover {
    background-color: #2e8a11; /* Hover botón adicionar */
}

.btn-eliminar {
    background-color: #f12727; /* Color del botón eliminar */
}

.btn-eliminar:hover {
    background-color: #9d1e1e; /* Hover botón eliminar */
}

/* Estilo del contenedor de la tarjeta */
.card {
    background-color: #cce5ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left; /* Alineación del texto a la izquierda */
    min-width: 300px; /* Ancho mínimo para la tarjeta */
}

/* Ajustes generales */
body {
    font-family: Arial, sans-serif; /* Fuente */
}

h3 {
    text-align: center; /* Centrar el título */
    color: #000; /* Color del título */
}

.card-carousel {
    display: flex;
    justify-content: center; /* Centrar la tarjeta */
    padding: 20px; /* Espacio alrededor de la tarjeta */
}

.profile-image {
    width: 150px; /* Tamaño de la imagen */
    height: 150px;
    border-radius: 50%; /* Imagen redonda */
    object-fit: cover; /* Recorte adecuado de la imagen */
    margin-bottom: 15px; /* Espacio inferior de la imagen */
    display: block;
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto;
    border: 8px solid #ffffff; /* Borde blanco grueso */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.form-group {
    
    margin-bottom: 15px; /* Espacio entre grupos de formulario */
}

.form-group label {
    font-weight: bold; /* Negrita para las etiquetas */
    display: block; /* Asegurar que la etiqueta ocupe una línea */
}

.form-group input, .form-group select {
    width: 100%; /* Ancho completo para inputs */
    padding: 10px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde suave */
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */
}

.card-footer input:hover {
    background-color: #45a049; /* Cambio de color al pasar el cursor */
}
/* Estilo del botón */

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.btn-adicionar {
    padding: 10px 20px;
    background-color: #40c328; 
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1em;
}

.btn-adicionar:hover {
    background-color: #2e8a11; 
    color: white;
}

.btn-eliminar {
    padding: 10px 20px;
    background-color: #f12727;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1em;
}

.btn-eliminar:hover {
    background-color: #9d1e1e;
    color: white;
}

.btn-otro {
    padding: 10px 20px;
    background-color: #28c3a4;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1em;
    }

.btn-otro:hover {
    background-color: #11728a;
    color: white;
}
