/*subtitulo formulario*/
.subtitulo {
    font-size: 14px; /* Tamaño de fuente más pequeño para subtítulo */
    color: #a51529; /* Color gris suave */
    margin-top: 5px; /* Espacio entre el título y el subtítulo */
    
}


/* Estructura de dos columnas */
.layout {
    display: flex;
    justify-content: space-between;
}

.col-left {
    width: 30%; /* Columna izquierda con el 30% de la pantalla */
    padding: 10px;
    overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
}

.col-right {
    width: 70%; /* Columna derecha con el 70% restante */
    padding: 10px;
}

.card {
    backdrop-filter: blur(10px);
    background-color: rgba(173, 230, 218, 0.8); /* Fondo semi-transparente */
    border: 4px solid #05af8b;
    width: 100%; /* Asegura que las tarjetas se ajusten al 100% del ancho */
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    min-width: 300px; /* Ajuste de ancho */
    margin: 10px;
    height: auto; /* Altura automática para adaptarse al contenido */
    display: flex;
    flex-direction: column; /* Mantener el contenido en columna */
    justify-content: space-between; /* Para que botones queden abajo */
}

.carousel-container {
    display: flex;
    align-items: center; /* Centra verticalmente las flechas y las tarjetas */
    justify-content: center; /* Asegura que las flechas y las tarjetas estén alineadas correctamente */
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;

}

/* Estilo para el carrusel de tarjetas */
.card-carousel {
    display: flex; /* Organiza las tarjetas en una fila */
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    scroll-behavior: smooth;
    overflow: hidden;
    width: max-content; /* Permite que el carrusel se ajuste al contenido */
    gap: 20px; /* Espacio entre las tarjetas para evitar que se superpongan */
}

.card-container {
    display: flex;
    overflow: hidden;
    padding: 10px;
    justify-content: center;
}

.swiper-container {
    width: 95%; 
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 80px;
    margin: 0 auto; 
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-button-prev, .swiper-button-next {
    transform: translateY(-50%) scale(0.6);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Asegura que las flechas estén encima */
}

/* Mueve las flechas fuera del contenedor de las tarjetas */
.swiper-button-prev {
    left: -40px; /* Ajusta la distancia desde el borde izquierdo */
}

.swiper-button-next {
    right: -40px; /* Ajusta la distancia desde el borde derecho */
}

.card:hover {
    transform: translateY(-8px); /* Mueve la tarjeta hacia arriba */
    backdrop-filter: blur(10px);
    border: 4px solid #049b7d; /* Borde ligeramente más oscuro */
    background-color: rgba(123, 164, 153, 0.7); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Aumenta la sombra al hacer hover */
    border: 5px  solid #aafeec;
}

.card:hover .card-header {
    color: #aafeec; 
    border-bottom: 3px solid #aafeec;
}

.card:hover .profile-image {
    border-color: #aafeec; /* Cambia el color del borde de la imagen */
}

.card-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 15px;
    color: #005d03;
    margin-top: 8px;
    text-align: center;
}

.card-body strong {
    font-weight: bold; /* Asegura que el texto esté en negrita */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

.swiper-slide {
    margin: 10px; /* Espacio entre tarjetas */
}

/* Ajustar la posición de las flechas -------------------------------------------------------------------------------*/

.swiper-button-prev {
    left: 10px; /* Puedes ajustar la distancia desde el borde izquierdo */
}

.navigation-buttons {
    display: flex; /* Usar flexbox para los botones de navegación */
    justify-content: center; /* Centra los botones de navegación */
    margin-top: 50px; /* Espacio entre las tarjetas y los botones de navegación */
}

/* Estilos para las imágenes de perfil en las tarjetas */

.profile-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px  solid #05af8b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

/* Ajuste del tamaño de la fuente en las tarjetas */

.card-body {
    
    font-size: 0.85em; /* Reducir el tamaño del texto */
    font-size: 0.9em; /* Ajustar el tamaño de la fuente */
    margin-bottom: 15px;
}

h2{
    font-family: 'Open Sans';
}

/* Encabezado de la tarjeta del nombre */

.card-header {
    font-family: 'Open Sans';
    font-size: 2em; /* Ajusta el tamaño del texto a 1.5 veces el tamaño de la fuente base, haciendo que la cabecera se vea más grande y destacada */
    font-weight: bold; /* Hace que el texto sea más grueso y visible, resaltando la importancia de la cabecera */
    margin-bottom: 10px; /* Añade un margen de 10 píxeles debajo del texto para crear espacio entre la cabecera y el contenido siguiente */
    border-bottom: 3px solid #059476; /* Crea un borde sólido de 3 píxeles de grosor en la parte inferior con un color verde claro, para separar visualmente la cabecera del contenido */
    padding-bottom: 5px; /* Añade un espacio de 5 píxeles entre el texto y el borde inferior para evitar que el texto esté muy cerca del borde */
    color: #05af8b ; /* Define el color del texto a un tono verde claro para que combine con el diseño general de la tarjeta */
}

/* Botones de navegación (flechas) */

.carousel-prev, .carousel-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    border-radius: 50%;
}

.carousel-prev {
    left: 10px; /* Flecha izquierda */
}

.carousel-next {
    right: 10px; /* Flecha derecha */
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Estilo de los formularios -----------------------------------------------------------------------------------*/

.containerFormulario {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 18px;
    padding: 20px 40px;
    max-width: 1200px;

}

.contenedor-tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* Mantiene las tablas en una sola fila */
    align-items: flex-start; /* Alinea las tablas en la parte superior */
    gap: 10px; /* Espacio entre las tablas */
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tableFormulario {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    max-width: 900px;
    width: 100%;
}

.tableDatos {
    flex: 1;
    margin: 10px auto; /* Asegura que esté centrado */
    padding: 15px; /* Ajusta el padding para reducir el espacio interno */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    max-width: 490px; /* Reduce el ancho máximo del recuadro */
    width: 100%; /* Asegura que se ajuste al contenedor */
    background-color: white; /* Color de fondo */
}

label {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px; 
}

.container {
    padding-bottom: 60px;
}

.tableFormulario td, .tableFormulario th {
    padding: 8px;
}

.tableDatos td, .tableDatos th {
    padding: 5px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%; /* Ancho completo del contenedor */
    padding: 5px; /* Espacio interior / / Espacio entre los campos */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #ccc; /* Borde gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-size: 1em; /* Tamaño de fuente */
    background-color: #fff; /* Color de fondo blanco */
  
}


/* Cambia el color del borde al hacer foco en el campo */
input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
    border-color: #1dba35; /* Color verde del borde al hacer foco */
    outline: none; /* Elimina el contorno predeterminado */
}

fieldset {
    border: none;
    margin-top: 15px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

.datos-con-foto {
    display: flex;
    justify-content: space-between; /* Coloca los elementos separados horizontalmente */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.datos {
    flex: 1;
    margin-right: 20px; /* Espacio entre los campos y la imagen */
}

.foto {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra la imagen horizontalmente */
}

.fotoPreview {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #027605;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* Ajustes adicionales para mejorar la apariencia en dispositivos móviles */
@media (max-width: 768px) {
    input[type="text"], input[type="number"], textarea {
        font-size: 0.9em; /* Reduce ligeramente el tamaño del texto */
        padding: 8px; /* Ajusta el espacio interior */
    }
}

/* Estilo de la calificación en estrellas */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
        font-size: 4em;
        color: gray;
        cursor: pointer;
        margin: 0 5px; /* Ajusta la separación entre las estrellas */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra a las estrellas */
    }

.rating input:checked ~ label {
    color: #FFD700;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #FFD700;
}

.btn-container {
    display: ruby;
    margin: auto;
    text-align: center; 
    margin-bottom: 10px; 
}

.btn-adicionar {
    display: inline-block; 
    margin-right: 20px; 
    padding: 10px 20px;
    background-color:#3eb847;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; 
    margin-top: 10px;
    transition-duration: 0.5s;
}

.btn-adicionar:hover {
   background-color: white;
   color: #3eb847;
   border: 2px solid #3eb847;
}
.btn-modificar {
    display: inline-block; 
    margin-right: 20px; 
    padding: 10px 20px;
    background-color:#3eb847;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition-duration: 0.5s;
}

.btn-modificar:hover {
   background-color: white;
   color: #3eb847;
   border: 2px solid #3eb847;
}


.btn-eliminar {
    display: inline-block; 
    margin-right: 10px; 
    margin-left: 20px; 
    padding: 10px 20px;
    background-color: #e3203b; 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition-duration: 0.5s;
}

.btn-eliminar:hover {
   background-color: white;
   color: #e3203b;
   border: 2px solid #e3203b;
}

.btn-otro {
    background-color: #3271e7;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 20px; 
    padding: 10px 20px; 
    transition-duration: 0.5s;
}

.btn-otro:hover {
    background-color: white;
    color: #3271e7;
    border: 2px solid #3271e7;
}

.btn-archivo {
    background-color: #b0ffb8;
    color: #333; 
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 20px; 
    cursor: pointer;
}

/* Estilo de los iconos -----------------------------------------------------------------------------------------*/

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    margin-bottom: 20px; /* Espacio entre el header y el resto del contenido */
}

#searchInput {
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 300px; /* Ajusta el ancho como desees */
    margin-right: 10px; /* Espacio entre el input y el icono */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.search-container input {
    width: 300px; /* Ancho fijo para el input del buscador */
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-icon {
    width: 25px; /* Ajusta el tamaño del icono */
    height: 25px;
    box-shadow: none;/* Ajusta el tamaño del icono */
    margin-left: 10px; /* Deja espacio entre el input y el icono */
    cursor: pointer;
}

    .stars {
        color: gold;
        font-size: 18px; /* Tamaño de las estrellas */
        vertical-align: middle;
    }
    
.rol-administrador {
    font-size: 20px; 
    color: white; 
    padding: 10px; 
    border-radius: 30px; 
    margin: 10px auto; 
    text-align: center; 
    background: linear-gradient(to right, #72c2ae, #859fcf); 
    max-width: 300px; 
    width: 80%; 
}

h3 {
    font-size: 35px; /* Tamaño de fuente grande */
    color: #333; /* Color de texto blanco */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
    font-weight: bold; /* Negrita para el texto */

}

h4 {
    font-size: 31px; /* Tamaño de fuente grande */
    color: #333; /* Color de texto blanco */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 2px solid #4CAF50; /* Borde verde y más grueso */
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f2f2f2; /* Color de fondo claro para las celdas */
}

tr:nth-child(even) {
    background-color: #eaf5ea; /* Color de fondo alternado */
}

