body {
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

header {
    width: 100vw; /* Ocupa el ancho completo de la ventana */
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Asegura que no haya scroll adicional */
    background: url(../presentacion/imagenes/Fondo-Inicio.jpg) no-repeat center center;
    background-size: cover; /* Cubre todo el ancho y alto del header */
    background-attachment: fixed;
    position: relative;
    filter: brightness(100%);
}
/* Ajustes para el contenedor de textos dentro del header */
header .textos-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin: 0;
}
.btn-container {
    text-align: center;
    margin-top: 20px;
}
.btn-adicionar {
    background-color: #28a745; /* Verde */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px; /* Bordes redondeados */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn-adicionar:hover {
    background-color: #218838; /* Verde más oscuro al pasar el mouse */
    transform: scale(1.05); /* Pequeña animación */
}

.info-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    color:#ffffff;
    backdrop-filter: blur(15px); 
    border-radius: 15px;
    background-color: #004085;
}