/* 
    Created on : 7 oct 2024, 15:31:05
    Author     : Angie
*/
body{
    font-family: 'Open Sans';
     text-align: center;
}

.transparent-navbar {
    background-color: rgba(250, 250, 250, 0.8); /* Fondo blanco con 80% de opacidad */
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.transparent-navbar {
    background-color: rgba(245, 245, 245, 0.8); /* Trasparencia */
    border-radius: 10px;
}

.navbar-nav .nav-link, .dropdown-item {
    font-size: 17px;  /* Aumenta el tamaño de las letras */
    font-weight: bold; /* Letras en negrita */
    color: #000;       /* Color negro */
}

.navbar-nav .nav-link:hover, .dropdown-item:hover {
    color: #000;    /* Color al pasar el mouse */
}


/* Estilo para el título */
.titulo-principal {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Contenedor de la imagen */
.contenedor-imagen {
    width: 50%; /* Tamaño del contenedor, ajusta según necesidad */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;  /* Espaciado alrededor de la imagen */
    border: 2px solid #1dba35; /* Opcional, para visualizar el borde */
}

/* Estilo de la imagen */
.contenedor-imagen img {
    width: 100%;  /* Ajusta la imagen al tamaño del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}




