/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 ago 2024, 22:39:34
    Author     : Angie
*/

/* Footer */
#formularioPlan .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100%; /* Asegura que el contenido use todo el alto del diálogo */
    text-align: center; /* Opcional: Centra el texto en el formulario */
}

#formularioPlan table {
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

#formularioPlan input[type="button"] {
    margin: 10px; /* Ajusta el margen según sea necesario */
}

footer {
    background-color: #f1f1f1; /* Color de fondo del footer */
    padding: 100px 0; /* Espaciado arriba y abajo */
    text-align: center; /* Centra el texto dentro del footer */
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.footer-info {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos con espacio alrededor */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si el espacio es insuficiente */
    max-width: 1000px; /* Ancho máximo para el contenedor (opcional) */
    margin: 0 auto; /* Centra el contenedor horizontalmente (opcional) */
}

.footer-info p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
    padding: 0 15px; /* Espaciado horizontal entre los elementos (opcional) */
}