/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 ago 2024, 22:39:34
    Author     : Angie

/* Contenedor Formularios */

.container {
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 18px;
    padding: 20px 40px;
}
h1 {
    text-align: center; /* Centrar el título */
}
table {
    width: 100%; /* Hacer que las tablas ocupen todo el ancho */
    margin-top: 20px;   
    margin-bottom: 20px; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);/* Margen inferior */
}
label {
 /* Hacer que las etiquetas ocupen una línea completa */
    margin-top: 10px; /* Margen superior */
}
.submit {
    margin: 10px auto;
    width: 120px;
    backdrop-filter: blur(10px);
    background: rgba(0, 255, 0, 0.4);
    border: 2px solid rgba(225, 225, 225, 0.9);
    border-radius: 12px;
    padding: 4px 4px;
    font-weight: 600;
    font-size: 21px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.container {
    padding-bottom: 60px; /* Margen inferior para que el contenido no quede tapado por el footer */
}
