/* 
    Created on : 10 oct 2024, 2:14:30
    Author     : Angie
*/

.formulario-adopcion {
    background: linear-gradient(to bottom right, #6ec1e4, #a4e787); /* Degradado de azul suave a verde claro */
    padding: 20px;
    border-radius: 10px;
    max-width: 1050px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15); /* Sombra suave */
}

input[type="text"], 
input[type="number"], 
input[type="radio"], 
input[type="file"], 
input[type="time"], 
textarea {
    background-color: #d4f1f9;/* Cambia este color según tu preferencia */
    border: 1px solid #ccc; /* Borde suave */
    padding: 8px; /* Ajusta el espacio dentro de los campos */
    border-radius: 18px; /* Bordes redondeados */
    color: black; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-size: 1em; /* Tamaño de fuente */ 
    background-color: #d4f1f9;; /* Color de fondo blanco */  
}

input[type="text"]:focus, 
input[type="number"]:focus, 
textarea:focus {
    background-color: #d8f2d2; /* Color al hacer foco */
    border-color: #66afe9; /* Borde al hacer foco */
    outline: none; /* Elimina el borde azul estándar de los navegadores */
}

/* Estilo de los formularios -----------------------------------------------------------------------------------*/

.containerFormulario {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 18px;
    padding: 20px 40px;
    max-width: 1200px;

}

.contenedor-tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* Mantiene las tablas en una sola fila */
    align-items: flex-start; /* Alinea las tablas en la parte superior */
    gap: 10px; /* Espacio entre las tablas */
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tableFormulario {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    max-width: 900px;
    width: 100%;
}

.tableDatos {
    flex: 1;
    margin: 10px auto; /* Asegura que esté centrado */
    padding: 15px; /* Ajusta el padding para reducir el espacio interno */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    max-width: 490px; /* Reduce el ancho máximo del recuadro */
    width: 100%; /* Asegura que se ajuste al contenedor */
    background-color: white; /* Color de fondo */
}

label {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px; 
}

.container {
    padding-bottom: 60px;
}

.tableFormulario td, .tableFormulario th {
    padding: 8px;
}

.tableDatos td, .tableDatos th {
    padding: 5px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
}

fieldset {
    border: none;
    margin-top: 15px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

.datos-con-foto {
    display: flex;
    justify-content: space-between; /* Coloca los elementos separados horizontalmente */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.datos {
    flex: 1;
    margin-right: 10px; /* Espacio entre los campos y la imagen */
}

.foto {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra la imagen horizontalmente */
}

.fotoPreview {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #4cb38b
;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* Ajustes adicionales para mejorar la apariencia en dispositivos móviles */
@media (max-width: 768px) {
    input[type="text"], input[type="number"], textarea {
        font-size: 0.9em; /* Reduce ligeramente el tamaño del texto */
        padding: 8px; /* Ajusta el espacio interior */
    }
}

/* Estilo de la calificación en estrellas */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
        font-size: 4em;
        color: gray;
        cursor: pointer;
        margin: 0 5px; /* Ajusta la separación entre las estrellas */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra a las estrellas */
    }

.rating input:checked ~ label {
    color: #FFD700;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #FFD700;
}

