/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/08/2024, 10:49:11 AM
    Author     : Luis Eraso
*/

.add-button {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #45a049;
}
.btn-modificar {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px
}

.btn-modificar:hover {
    background-color: #45a049;
}
.btn-eliminar{
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-eliminar:hover {
    background-color: #45a049;
}


.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body {
    font-size: 1em;
}

.card-footer {
    text-align: right;
}
.card {
    max-width: 400px;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}

