/* Estilos para el carrusel y las tarjetas */
.swiper-container {
    width: 100%; /* Ocupa el 100% del contenedor padre */
    max-width: 1500px; /* Limita el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel en la página */
    overflow: hidden; /* Evita que el contenido se desborde fuera del contenedor */
}
.car
.swiper-slide {
    flex: 0 0 25%; /* Cada tarjeta ocupa exactamente el 25% del contenedor */
    box-sizing: border-box; /* Asegura que el padding y los bordes se incluyan en el ancho total */
    max-width: 25%; /* Limita el ancho máximo de cada tarjeta al 25% */
    margin-right: 10px; /* Espacio entre las tarjetas */
} 


.swiper-slide:last-child {
    margin-right: 0; /* Elimina el margen a la última tarjeta */
}

.swiper-wrapper {
    display: flex;
    justify-content: space-between; /* Espacio igual entre las tarjetas */
}

.swiper-slide .card {
    width: 100%; /* La tarjeta ocupa todo el ancho del slide */
    padding: 10px; /* Espaciado interno de la tarjeta */
}
.card:hover {
    background-color: #99ccff; /* Color al pasar el cursor */
    transform: translateY(-10px); /* Mueve la tarjeta hacia arriba */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer hover */
}

.card-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 15px;
    color: #005d03;
    margin-top: 8px;
    text-align: center;
}

.card-subtitle {
    font-size: 15px; /* Ajusta el tamaño de la fuente */
    color: #005d03; /* Puedes personalizar el color */
    margin-top: 8px; /* Ajusta el espacio entre el nombre y el rol */
    text-align: center; /* Centra el subtítulo */
}


.card-body strong {
    font-weight: bold; /* Asegura que el texto esté en negrita */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}
/* Estilos de las tarjetas */
.card {
    margin: 10px auto; /* Espacio entre tarjetas y centrado horizontal */
    max-width: 600px; /* Ajusta este valor al tamaño máximo que deseas */
    width: auto; /* Para que la tarjeta se ajuste al contenido */
    box-sizing: border-box; /* Asegura que padding y bordes estén dentro del ancho */
    background: linear-gradient(90deg, #80c1ff, #66cca3, #b3e6b3); /* Degradado de fondo */
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrar el texto */
    height: auto; /* Ajuste automático al contenido */
    display: flex;
    flex-direction: column; /* Mantener el contenido en columna */
    justify-content: space-between; /* Para que botones queden abajo */
}
.card:hover {
    background-color: #99ccff; /* Color al pasar el cursor */

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer hover */
}
.card-footer {
    display: flex; /* Alinear los botones horizontalmente */
    justify-content: center; /* Centrar los botones */
    margin-top: 10px; /* Espacio entre el contenido y los botones */
}
.card-body {
    text-align: start;
    font-size: 0.85em; /* Reducir el tamaño del texto */
    font-size: 0.9em; /* Ajustar el tamaño de la fuente */
    margin-bottom: 15px;
}
.card-header {
    font-size: 1em; /* Reduce el tamaño de la fuente */
    font-weight: bold;
    margin-bottom: 8px; /* Reduce el margen inferior */
}

.card-body {
    font-size: 0.9em; /* Reduce el tamaño de la fuente */
}

.card-footer {
    text-align: right;
}

/* Estilos de los botones */
.add-button, .btn-modificar, .btn-eliminar ,.btn-concepto, .btn-apadrinar {
    margin: 15px 20px; /* Reduce el margen vertical */
    padding: 8px 12px; /* Reduce el padding para hacer los botones más pequeños */
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover, .btn-modificar:hover, .btn-eliminar:hover,.btn-concepto {
    background-color: #45a049;
}

/* Controles de navegación */
.swiper-button-next,
.swiper-button-prev {
    color: #000; /* Color de las flechas de navegación */
}

/* Estilo de la paginación */
.swiper-pagination-bullet-active {
    background-color: #000; /* Color del indicador activo */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}


.btn-adicionar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color:#1dba35;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; /* Aumenta el tamaño de la fuente para hacer el botón más grande */
}

.btn-adicionar:hover {
    background-color: #256f30;
}
.btn-modificar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color:#1dba35;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

.btn-modificar:hover {
    background-color: #256f30;
}


.btn-eliminar {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 10px; /* Espaciado entre los botones */
    margin-left: 20px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color: #e3203b; /* Color para el botón de eliminar */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
}

.btn-eliminar:hover {
    background-color: #a51529;
}

.btn-otro {
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin-right: 5px; /* Espaciado entre los botones */
    padding: 10px 20px; /* Aumenta el espacio interno del botón */
    background-color: #00cccc;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em; /* Aumenta el tamaño de la fuente para hacer el botón más grande */
}

.btn-otro:hover {
    background-color: #1b668c;
}

.header-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    margin-bottom: 20px; /* Espacio entre el header y el resto del contenido */
}

#searchInput {
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 300px; /* Ajusta el ancho como desees */
    margin-right: 10px; /* Espacio entre el input y el icono */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.search-container input {
    width: 300px; /* Ancho fijo para el input del buscador */
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-icon {
    width: 25px; /* Ajusta el tamaño del icono */
    height: 25px;
    box-shadow: none;/* Ajusta el tamaño del icono */
    margin-left: 10px; /* Deja espacio entre el input y el icono */
    cursor: pointer;
}



h3 {
    font-size: 35px; /* Tamaño de fuente grande */
    color: #333; /* Color de texto blanco */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
    font-weight: bold; /* Negrita para el texto */

}
